<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h1>Great News, your posting has been published!</h1>

<p> 
	Your job posting is now live at <%= @url %>. To update, remove or edit, simply log in. 
</p>


<p>
	At Ladies Learning Code, our mission is to inspire and empower everyone to feel comfortable learning beginner-friendly programming & technical skills. This is our job board: a place for you to find the talent you need (or the job you want), while supporting Ladies Learning Code, a proud not-for-profit organization.
</p>