@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";


// Navbar start

.header {
	height: 135px;
	border-bottom: 5px solid #fff;
	box-shadow: 5px 5px 5px #aaa;
	background-color: black;
}

.navbar-pic {
	position: relative;
	padding-left: 200px;
	padding-top: 28px;
}

// Navbar finish

// ===================================================

// Main Container Start

.main-container {
	font-family: 'Open Sans', sans-serif;
	width: 960px;
	margin: 0 auto;
	padding-top: 1px;
}


// Main Container Finish

// Sign up/in Start


.sign-in {
	font-weight: 300;
	font-size: 12px;
	background-color: white;
	text-align: right;
	margin-bottom: 5px;
	a {
		font-weight: 700;
		color: #c12aaa;
	}
}

// Sign up/in Finish


// Job Field Navbar Start

.job-fields {

}

.job-field {
	height: 50px;
	background-color: #cccccc;
	width: 100%;
	border-radius: 8px;
	margin-bottom: 10px;
	li:first-child {
		margin-left: 10px;
	}
	li {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.job-field > li > a {
	color: black;
}

// Job Field Navbar Finish

// Section Start

section {
	padding-top: 15px;
	float: left;
	width: 670px;
}

// Job Type Navbar Start

.job-type {
	background-color: black;
	font-family: 'Open Sans', sans-serif;
  height: 55px; 
  border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-weight: 300;
	transition: .5s;
}


.navbar-default .navbar-nav > li:hover {
	background-color: #282828;
	transition: .5s;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	padding-top: 23px;
	margin: -5px;
	padding-bottom: 20px;
	&:hover {
		color: white;
	}
}
// Job Type Navbar Finish

// Styling for a job posting start

.job-posting {
	border-bottom: 1px solid lightgrey;
	height: 80px;
	font-weight: 300;
	padding-top: 10px;
	transition: .5s;
	border-radius: 1px;
	letter-spacing: -.5px;
	width: 670px;	
	&:hover {
		background-color: #EDEBEB;
		transition: .5s;
	}
}


.job-posting > .posting-one {
	display: inline-block;
	float: left;
	margin-left: 10px;
	width: 400px;
}

.job-posting > .posting-one > .job-title > a {
	color: black;
	font-size: 20px;
}

.job-posting > .posting-two {
	display: inline-block;
	float: left;
	width: 115px;
}

#city {
	font-weight: bold;
	color: #c12aaa;
}

#type-of-job {
	font-size: 11px;
}

.job-posting > .posting-three {
	display: inline-block;
	float: right;
	width: 80px;
	margin-left: 10px;
	margin-right: 0px;
}

// =====================================

.user-page-listings  {
	width: 800px;
	border-bottom: 1px solid lightgrey;
	height: 90px;
	font-weight: 300;
	padding-top: 10px;
	transition: .5s;
	border-radius: 1px;
	letter-spacing: -.5px;
	&:hover {
		background-color: #EDEBEB;
		transition: .5s;
	}
}

.user-page-listings > .posting-one {
	display: inline-block;
	float: left;
	margin-left: 10px;
	width: 400px;
}

.user-page-listings > .posting-one > .job-title > a {
	color: black;
	font-size: 20px;
}

.user-page-listings > .posting-two {
	display: inline-block;
	float: left;
	width: 115px;
}

#city {
	font-weight: bold;
	color: #c12aaa;
}

#type-of-job {
	font-size: 11px;
}

.user-page-listings > .posting-three {
	display: inline-block;
	float: left;
	width: 80px;
	margin-left: 10px;
	margin-right: 0px;
}

.user-page-listings > .actions {
	float: right;
}

// Styling for a job posting finish

// Pagination Start 

.pagination > a {
	color: white;
	font-size: 15px;
}

.paginate-container {
	background-color: black;
	height: 70px;
	margin-bottom: 40px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	.paginate-holder {
		margin-right: 20px;
	}
}

// Pagination Finish

// Section Finish





// Aside Start

aside {
	padding-top: 20px;
	float: right;
	width: 270px;
}

// Post a job start

.post-job {
  font-size: 13px;
  text-align: center;
	background-color: #f2f2f2;
	height: 150px;
	width: 270px;
	border-radius: 10px;
	padding-top: 30px;
	border: 2px solid lightgrey;
	a {
		color: #c12aaa;
		font-weight: 300;
		font-size: 20px;
	}
}

#job-arrow {
	border-radius: 8px;
	padding-left: 12px;
	padding-right: 5px;
	background-color: #c12aaa;
	margin-right: 10px;
	color: white;
	text-align: center;
	height: 500px;
	a {
	}
}

// Post a job finish

// About us start

.about-us {
	margin-top: 25px;
	h4 {
		font-weight: 300;
		color: black;
	}
}
.about-us > p {
	color: #666;
	font-size: 14px;
	font-weight: 300;
}

// About us finish


// Popular Catagories & Tags Start

.popular-catagories { 
	padding-top: 20px;
	padding-bottom: 20px;
	h5 {
		padding-bottom: 10px;
	}
}

.popular-tags {
	margin-bottom: 30px;
}

.nav-pills > li > a {
	padding-top: 10px;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 300;
  color: black;
  transition: .5s;
  &:hover {
  	background-color: #b1009a;
  	transition: .5s;
  }
}

// Popular Catagories & Tags Finish

// Aside Finish

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

// Error Message Flash Start

.error-container {
	width: 960px;
}

/* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   height: 30px;
//   width: 60%;
//   margin-bottom: 15px;
// }

// input {
//   height: auto !important;
// }

// Footer Start

footer {
	height: 100px;
	clear:both;
	border-top: 1px solid black;
	margin-top: 30px;
	margin-bottom: 0px;

}

.footer-container {

}

.footer-container > p {
	margin-top: 15px;
	font-weight: 300;
	font-size: 10px;
	color: grey;
}

.footer-container > p > a {
	text-decoration: underline;
	color: grey;
}


// Footer Finish

