<h1>New Job Posting</h1>
<%= form_for [:my, @posting] do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit "Create Project" %>
  </div>
<% end %>