<div class="footer-container">
	<p>© 2012 <%= link_to "LADIES LEARNING CODE", "http://ladieslearningcode.com" %></br>
		CSS MODIFIED BY <%= link_to "IVONNE KARAMOY", "http://ivonnekaramoy.com/" %>.
		HEADER ART BY <%= link_to "ANNA KLIBANOV", "http://gobanana.ca/" %>.
		RAILS DEVELOPMENT BY <%= link_to "JARED PHILLIPS", "https://github.com/jaredphillips" %> 
	</p>
</div>