<div class="navbar navbar-default navbar-static-top navbar-inverse header" role="navigation">
	<div class="inner-container">
	  <%= link_to image_tag("header-pic.png", class: "navbar-pic"), root_path %>
	</div>
</div>