<h5>Popular Catagories</h5>
<ul class="nav nav-pills nav-stacked">
  <li><a href="#"><span class="badge pull-right">83</span>Development</a></li>
  <li><a href="#"><span class="badge pull-right">44</span>Information Technology</a></li>
  <li><a href="#"><span class="badge pull-right">37</span>Design</a></li>
  <li><a href="#"><span class="badge pull-right">22</span>Marketing</a></li>
  <li><a href="#"><span class="badge pull-right">21</span>Communications</a></li>
  <li><a href="#"><span class="badge pull-right">19</span>Operations</a></li>
  <li><a href="#"><span class="badge pull-right">18</span>Other</a></li>
  <li><a href="#"><span class="badge pull-right">11</span>Project Management</a></li>
</ul>