<h5>Popular Tags</h5>
<ul class="nav nav-pills nav-stacked">
  <li><a href="#"><span class="badge pull-right">2</span>C#</a></li>
  <li><a href="#"><span class="badge pull-right">1</span>HTML</a></li>
  <li><a href="#"><span class="badge pull-right">1</span>Django</a></li>
  <li><a href="#"><span class="badge pull-right">1</span>PHP</a></li>
  <li><a href="#"><span class="badge pull-right">1</span>HTML/CSS</a></li>
  <li><a href="#"><span class="badge pull-right">1</span>MySQL</a></li>
  <li><a href="#"><span class="badge pull-right">1</span>jQuery</a></li>
  <li><a href="#"><span class="badge pull-right">1</span>Toronto</a></li>
</ul>